@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

.footer {
    width: 100vw;
    height: 396px;
    text-align: center;
    background-color: #23395B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

hr {
    width: 1200px;
    border-width: 2px;
    background-color: #23395B;
}

.main {
    width: 1200px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer img {
    width: 154px;
    height: 30px;
    cursor: pointer;
}

.menu {
    max-width: 400px;
    max-height: 118px;
    gap: 64px;
    display: flex;
    align-items: start;
    text-align: start;
}


.menu p {
    max-width: 190px;
    height: 26px;
    color: #FFFFFF;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    margin-bottom: 20px;
    cursor: pointer;

}

.social {
    width: 160px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.social img {
    width: 25px;
    height: 25px;
}

.copyright {
    width: 100%;
    height: 86px;
    background-color: #F5F5F5;
    gap: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.copyright p {
    max-width: 271px;
    height: 26px;
    margin-top: 10px;
    color: #141414;
    font-family: 'Public Sans', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
}

