
/* Desktop */
@media (min-width: 769px) {
    .button{
        width: 147px;
        height: 46px;
        padding: 10px 15px 10px 15px;
        gap: 10px;
        border: 0px;
        border-radius: var(--CornerExtra-small);
        color: var(--black);
        font-family: 'Public Sans', sans-serif; 
        font-weight: 400;
        font-size: 18px;
        line-height: 25.2px;
    }

    .primary {
        background: var(--mustard);
    }

    .button:hover{
        width: 156px;
        height: 50px;
        padding: 12px 17px 12px 17px;
        font-weight: 600;
        text-decoration: underline;
    }

    .primary:active {
        font-weight: 600;
        background-color: var(--dark-mustard);
    }


    .secondary {
        background-color: var(--gray-25);
    }

    .secondary:active {
        font-weight: 600;
        background-color: var(--gray-85);
    }
}



