
/* Desktop */
@media (min-width: 769px) {
    .button{
        width: 147px;
        height: 46px;
        padding: 10px 15px 10px 15px;
        gap: 10px;
        border: 0px;
        border-radius: var(--CornerExtra-small);
        color: var(--light-purple);
        font-family: 'Public Sans', sans-serif; 
        font-weight: 400;
        font-size: 18px;
        line-height: 25.2px;
    }

    .primary {
        background: var(--neon-green);
    }

    .button:hover{
        width: 156px;
        height: 50px;
        padding: 12px 17px 12px 17px;
        font-weight: 600;
        text-decoration: underline;
    }

    .primary:active {
        font-weight: 600;
        background-color: var(--dark-mustard);
    }


    .secondary {
        background-color: var(--gray-25);
    }

    .secondary:active {
        font-weight: 600;
        background-color: var(--gray-85);
    }

    .submit {
        width: 171px;
        height: 46px;
        padding: 10px 15px 10px 15px;
        gap: 10px;
        border: 0px;
        border-radius: var(--CornerExtra-small);
        color: var(--light-purple);
        font-family: 'Public Sans', sans-serif; 
        font-weight: 400;
        font-size: 18px;
        line-height: 25.2px;
    }

    .submit:hover {
        width: 180px;
        height: 50px;
        padding: 12px 17px 12px 17px;
        font-weight: 600;
        text-decoration: underline;

    }
}



/* Mobile */
@media (max-width: 768px) {

    .button{
        max-width: 137px;
        height: 43px;
        padding: 10px 12px 10px 12px;
        gap: 10px;
        border: 0px;
        border-radius: var(--CornerExtra-small);
        color: var(--black);
        font-family: 'Public Sans', sans-serif; 
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
    }

    .primary {
        background-color: var(--mustard);
    }

    .secondary {
        background-color: var(--gray-25);
    }

    /* .button:hover {
        max-width: 136px;
        height: 47px;
        padding: 12px 14px 12px 14px;
        gap: 10px;
        font-weight: 600;
        text-decoration: underline;
    } */

    .primary:active {
        width: 137px;
        height: 47px;
        padding: 12px 14px 12px 14px;
        font-weight: 600;
        background-color: var(--dark-mustard);
        text-decoration: underline;
    }

    .secondary:active {
        width: 137px;
        height: 47px;
        font-weight: 600px;
        background-color: var(--gray-85);
        text-decoration: underline;
    }

    .submit {
        width: 149px;
        height: 43px;
        padding: 10px 12px 10px 12px;
        gap: 10px;
        border-radius: var(--CornerExtra-small);
        opacity: 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        color: var(--light-purple);
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;
    }

    .submit:active {
        width: 156px;
        font-weight: 600;
        text-decoration: underline;
    }

}