
/* Desktop */
@media (min-width: 769px) {
    .form-container {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .form-container Form {
        width: 627px;
        border-radius: var(--CornerSmall);
        padding: 64px;
        margin-bottom: 160px;
        background-color: var(--white);
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;

        display: grid;
        gap: 36px;
    }

    .rs-form-control-label {
        margin-bottom: 12px;
        font-family: 'Public Sans';
        font-size: 18px;
        font-weight: 600;
        line-height: 25.2px;
        text-align: left;
    }

    .rs-input {
        font-family: 'Public Sans';
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
    }


    .rs-radio-label {
        font-family: 'Public Sans';
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
    }


    .rs-picker-toggle  {
        font-family: 'Public Sans';
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
    }


    Form select {
        width: 100%;
        height: 42px;
        border-radius: 6px;
        border: 1px solid var(--gray-25);
        font-family: 'Public Sans';
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
        text-indent: 10px;
        color: var(--gray-85);
    }

    Form select:valid {
        color: var(--black);
    }

    Form Button {
        border: 1px navy dashed;
    }


    #req {
        color: var(--berry);
        justify-content: center;
    }
    
    #optional {
        font-weight: 400;
    }

    .thank-you {
        background-color: var(--gray-10);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 64px;

        padding-top: 100px;
        padding-bottom: 160px;
    }

    .thank-you h3 {
        max-width: 1000px;
        max-height: 73px;
        font-family: 'Public Sans';
        font-weight: 600px;
        font-size: 28px;
        line-height: 1.5em;
        text-align: center;
        color: var(--navy);
        margin: 0;
    }

    .thank-you p {
        max-width: 535px;
        max-height: 34px;
        font-family: 'Public Sans', sans-serif;
        font-family: 400;
        font-size: 24px;
        line-height: 33.6px;
        text-align: center;
        color: var(--navy);
    }

    .thank-you .social-icons {
        width: 250px;
        height: 40.64px;
        display: flex;
        justify-content: space-between;
    }

    .thank-you .social-icons img {
        height: 39.07px;
        cursor: pointer;
    }

    .thank-you .social-icons img:hover {
        height: 42px;
    }
}


/* Mobile */
@media (max-width: 768px) {
    .form-container {   
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .form-container Form {
        padding: 96px 32px 96px 32px;
        background-color: var(--white);
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;

        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        align-items: center;

        min-width: 300px;
        margin-left: 8.33%;
        margin-right: 8.33%;
        margin-bottom: 120px;

        border-radius: var(--CornerSmall);
    }

    .form-container .rs-form-group {
        width: 100%;
    }

    .rs-form-control-label {
        margin-bottom: 16px;
        font-family: 'Public Sans';
        font-size: 16px;
        font-weight: 600;
        line-height: 22.4px;
        text-align: left;
    }

    .rs-input {
        font-family: 'Public Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;
    }

    .rs-radio-label {
        font-family: 'Public Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;
    }

    .rs-picker-toggle  {
        font-family: 'Public Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;
    }

    Form button {
        width: 149px;
        height: 43px;
        padding: 10px 12px 10px 12px;
        gap: 10px;
        border-radius: var(--CornerExtra-small);
        opacity: 0px;
        background-color: var(--mustard);
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        color: var(--black);
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;
    }

    Form button:active {
        font-weight: 600;
        text-decoration: underline;
    }

    #req {
        color: var(--berry);
        justify-content: center;
    }
    
    #optional {
        font-weight: 400;
    }

    .thank-you {
        background-color: var(--gray-10);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
        padding: 64px 32px 64px 32px;
    }

    .thank-you h3 {
        font-family: 'Public Sans';
        font-weight: 600px;
        font-size: 26px;
        line-height: 1.5em;
        text-align: center;
        color: var(--navy);

    }

    .thank-you p {
        font-family: 'Public Sans', sans-serif;
        font-family: 400;
        font-size: 22px;
        line-height: 33.6px;
        text-align: center;
        color: var(--navy);
    }


    .thank-you .social-icons {
        width: 280px;
        height: 42px;
        display: flex;
        justify-content: space-between;
    }

    .thank-you .social-icons img {
        height: 42px;
        width: 42px;
    }

}