/* Desktop */
@media (min-width: 769px) {
    .hero {
        /* width: 1200px; */
        padding: 100px 120px 100px 120px;
        gap: 96px;

        display: flex;
        justify-content: center;
    }

    .hero .text-and-btn {
        width: 576px;
        max-height: 471px;
        gap: 32px;

        display: grid;
        
    }

    .hero .text-and-btn h1 {
        width: 576px;
        max-height: 189px;
        font-family: 'Bricolage Grotesque'; 
        font-size: 54px;
        font-weight: 600;
        line-height: 63px;
        text-align: left;
        color: var(--navy); 
        margin: 0;
    }

    .hero .text-and-btn h4 {
        width: 576px;
        max-height: 118px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 39.2px;
        color: var(--navy);
        margin: 0;
    }

    .hero .text-and-btn p {
        font-family: 'Public Sans';
        font-size: 24px;
        font-weight: 400;
        line-height: 33.6px;
        text-align: left;
        color: var(--navy);
    }

    .hero .text-and-btn span {
        font-weight: 600;
        text-decoration: underline;
    }

    .hero .text-and-btn .btn {
        display: flex;
        max-width: 360px;
        height: 50px;
        gap: 32px;
    }

    .hero .img-container {
        width: 528px;
        height: 428px;
        overflow: hidden;
        position: relative;
        border-radius: var(--CornerSmall);
    }

    .hero .img-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}


/* Mobile */
@media (max-width: 768px) {

    .hero {
        gap: 32px;
        padding-top: 32px;
        margin-left: 8.33%;
        margin-right: 8.33%;
        padding-bottom: 64px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero .img-container {
        width: 100%;
        height: 250px;
        overflow: hidden;
        position: relative;
        border-radius: var(--CornerSmall);
    }

    .hero .img-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    .hero .text-and-btn {
        display: grid;
        align-items: center;
        gap: 32px;
        text-align: center;
    }

    .hero .text-and-btn h1 {
        width: 300px;
        height: 95px;
        font-family: 'Bricolage Grotesque';
        font-weight: 600;
        font-size: 28px;
        line-height: 31.5px;
        color: var(--navy);
        margin: 0;
    }

    .hero .text-and-btn h4 {
        width: 300px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 400;
        line-height: 25.2px;
        font-size: 18px;
        line-height: 25.2px;
        color: var(--navy);
        margin: 0;
    }

    .hero .text-and-btn .btn {
        max-height: 102px;
        padding: 0 28.5px 0 28.5px;
        gap: 16px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}