/* Desktop */
@media (min-width: 769px) {

    .text-and-btn {
        max-width: 600px;
        gap: 32px;
        text-align: left;
        display: grid;
    }

    .text-and-btn .group {
        display: grid;
        gap: 26px;
    }

    .text-and-btn .group label {
        height: 26px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 25.2px;
        letter-spacing: 0.03em;
        margin: 0;
    }

    .text-and-btn .group h1 {
        width: 576px;
        max-height: 189px;
        font-family: 'Bricolage Grotesque'; 
        font-size: 54px;
        font-weight: 600;
        line-height: 63px;
        color: var(--navy); 
        margin: 0;
    }

    .text-and-btn .group h2 {
        font-family: 'Bricolage Grotesque', sans-serif;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        margin: 0;
    }

    .text-and-btn p {
        font-family: 'Public Sans', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 33.6px;
        margin: 0;
    }

    .text-and-btn .btn {
        display: flex;
        max-width: 360px;
        height: 50px;
        gap: 32px;
    }

}


/* Mobile */
@media (max-width: 768px) {

    .text-and-btn {
        /* max-width: 300px; */
        gap: 24px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-and-btn .group {
        display: grid;
        gap: 10px;
    }

    .text-and-btn .group label {
        font-family: 'Public Sans';
        font-size: 14px;
        font-weight: 500;
        line-height: 19.6px;
        letter-spacing: 0.03em;
        margin: 0;
    }

    .text-and-btn .group h1 {
        height: 95px;
        font-family: 'Bricolage Grotesque';
        font-weight: 600;
        font-size: 30px;
        line-height: 33px;
        color: var(--navy);
        text-align: center;
        margin: 0;
    }

    .text-and-btn .group h2 {
        font-family: 'Bricolage Grotesque';
        font-size: 24px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0.03em;
        margin: 0;
    }

    .text-and-btn p {
        font-family: 'Public Sans';
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        margin: 0;
    }

    .text-and-btn .btn {
        max-height: 102px;
        padding: 0 28.5px 0 28.5px;
        gap: 16px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}