@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');


body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.container {
    max-width: 100vw;
    margin: auto;
    width: 100%;
}

:root {
    --CornerExtra-small: 4px; 
    --CornerSmall: 8px;

    --navy: #23395B;
    --blue: #4BBEDB;
    --mustard: #F1B23E;
    --berry: #A13D63;
    --dark-mustard: #BE800E;
    --gray-10: #F5F5F5;
    --gray-25: #D5D6D7;
    --gray-85: #5A5B5E;
    --light-blue: #CCEDF5;
    --black: #141414;
    --white: #FFFFFF;

    
    --teal: #009688; /* subtle AI-themed color. */
    --bright-green: #00FF00; /*  like the matrix theme */
    --neon-green: #00FFAB; /* common in futuristic AI designs. */
    --cyan: #00E5FF; /*  often used for links or accents. */
    --pink: #FF4081; /* used sparingly as accent highlights. */
    --amber: #FFC107; /* for warning messages or calls to action. */


    --purple-gradient: linear-gradient(300deg, #8E2DE2, #4A00E0);
    --dark-light-grayish-gradient: linear-gradient(135deg, #1F1C2C, #928DAB);
    --bright-blue-gradient: linear-gradient(135deg, #00C6FF, #0072FF);
    --blue-gradient: linear-gradient(135deg, #2F80ED, #56CCF2);
    --green-gradient: linear-gradient(135deg, var(--bright-green), var(--cyan));

    /* Dark Background */
    --dary-gray:  #121212;
    --blackish-gray: #1A1A1A;
    --soft-black: #202020;
    --dark-slate-gray: #2C2F33;
    --almost-black: #181818;
    --mutedLight-gray: #E5E5E5;
    --veryLight-gray: #F0F2F5;

    /* Detailed Pinks */
    --neon-pink: #FF007F;
    --hot-pink: #FF69B4;
    --fuchsia: #FF00FF;
    --deep-pink: #FF1493;

    /* Detailed purple */
    --light-purple: #8E2DE2;
    --dark-purple: #4A00E0;
    --electric-purple: #8A2BE2;
    --neon-purple: #9D00FF;
    --vivid-violet: #9400D3;
    --magenta-purple: #FF00FF;


}


/* @media (min-width: 769px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
} */


/* @media (max-width: 768px) {
    body {

        max-width: 360px;
        padding: 0;
        margin: 0; 
    }

    html {
        overflow-x: hidden; 
    }

    .container {
        max-width: 360px;
    }
} */