.employers {
    background-color: var(--gray-10);
}

/* Desktop */
@media (min-width: 769px) {

    .employers hr {
        width: 1200px;
        border: 2px solid var(--blue);
    }

    .employers h2 {
        height: 54px;
        font-family: 'Bricolage Grotesque'; 
        font-size: 48px;
        font-weight: 600;
        line-height: 54px;
        color: var(--navy);
        text-align: center;
        margin: 0;
    }

    /* benefits-container */
    .employers .benefits-container {
        max-height: 778px;
        padding: 96px 120px 160px 120px;
        gap: 96px;
        display: grid;
        flex-direction: column;
        justify-content: center;
    }

    .benefits-container .benefits {
        width: 1200px;
        height: 372px;
        gap: 48px;
        margin-left: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
    }

    .benefits-container .benefits .benefit {
        width: 368px;
        height: 340px;
        border-radius: 8px;
        padding-top: 32px;
        padding-left: 32px;
        gap: 32px;
        background-color: var(--white);
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;
    }

    .benefit img {
        width: 80px;
        height: 62px;
        margin-bottom: 32px;
    }

    .benefit .text {
        width: 304px;
        max-height: 202px;
        gap: 16px;
        display: grid;

    }

    .benefit .text h4 {
        height: 34px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 33.6px;
        color: var(--navy);
        margin: 0;
    }

    .benefit .text p {
        width: 304px;
        height: 152px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 25.2px;
        color: var(--black);
        margin: 0;
    }

    .employers .how {
        max-height: 1143px;
        padding: 160px 120px 160px 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .employers .how .intro {
        margin-left: 0px;
        max-height: 270px;
    }

    .employers .how .intro p {
        font-size: 24px;
        line-height: 33.6px;
    }

    .employers .how .intro p span {
        font-weight: 700;
    }

    .employers .callout-box {
        max-height: 605px;
        background-color: var(--berry);
    }
    
    .employers .callout-box .text-btn .group {
        height: 266px;

    }
    
    .employers .callout-box h2 {
        height: 216px;
        text-align: left;
    }

}


/* Mobile */
@media (max-width: 768px) {


    .employers hr {
        width: 100%;
        border: 1px var(--blue) solid;
    }

    .employers h2 {
        height: 54px;
        font-family: 'Bricolage Grotesque';
        font-size: 24px;
        font-weight: 600;
        line-height: 27px;
        text-align: center;
        margin: 0;
        color: var(--navy);
    }

    .employers .benefits-container {
        height: 1121.43px;
        margin-top: 96px;
        margin-bottom: 96px;
        margin-left: 8.33%;
        margin-right: 8.33%;
        gap: 48px;

        display: grid;
    }

    .benefits-container .benefits {
        height: 1019.43px;
        gap: 32px;
        display: grid;
        align-items: center;
        justify-content: space-between;
    }

    .benefits .benefit {
        max-height: 329.64px;
        padding: 32px;
        gap: 24px;
        border-radius: var(--CornerSmall);
        opacity: 0px;
        background-color: var(--white);
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;

        flex-direction: column;
        justify-content: space-evenly;

    }

    .benefit img {
        width: 60px;
        height: 46.64px;
        margin-bottom: 32px;
    }

    .benefit .text {
        width: 236x;
        max-height: 195px;
        gap: 12px;
        display: grid;
    }

    .benefit .text h4 {
        height: 26px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 25.2px;
        color: var(--navy);
        margin: 0;
    }

    .benefit .text p {
        font-family: 'Public Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        color: var(--black);
        margin: 0;
    }

    .employers .callout-box {
        background-color: var(--berry);
    }

}