@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');


/* NavBar */

.navbar-container {
    width: 100vw;
    background: var(--purple-gradient);
}

/* Desktop styles */
@media (min-width: 769px) {

    .navbar-container{
        display: flex;
        justify-content: center;
    }

    .navbar {
        
        background: var(--purple-gradient);
        display: flex;
        align-items: center; 
        position: relative;
        justify-content: space-between;
        height: 100px;
        width: 1200px;
    }

    .navbar .logo {
        width: 152.14px;
        height: 30px; 
        transition: transform 0.3s smooth;
    }

    .navbar .logo:hover {
        transform: scale(1.1);
    }

    .navbar .ul {
        max-width: 670px; 
        max-height: 50px;   
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 64px;
    }

    .navbar .ul ul {
        list-style-type: none;
        gap: 20px;
        padding: 0;
        margin: 0;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .navbar li {
        display: flex;
        align-items: center;
    }

    .navbar li a, .navbar li span {
        height: 26;
        width: auto;
        display: block;
        color: var(--neon-green);
        text-align: left; 
        padding: 14px 20px;
        text-decoration: none;
        border: none;
        cursor: pointer;
        font-family: 'Public Sans', sans-serif; 
        font-size: 18px; 
        font-weight: 600; 
        line-height: 25.2px;
        transition: transform 0.3s smooth;
    }

    .navbar li a:hover, .navbar li span:hover {
        transform: scale(1.1);
    }

    .navbar .active {
        text-decoration: underline;
    }

    .navbar-container .dropdown {
        width: 257px;
        height: 116px;
        position: absolute;
        top: 100px;
        left: 57%;
        border-radius: var(--CornerExtra-small);
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;
        display: grid;
        align-items: start;
        justify-content: space-between;
        z-index: 1000;
    }

    .dropdown li {
        height: 58px;
        width: 257px;
        border-radius: var(--CornerExtra-small);
    }

    .dropdown li:hover {
        background-color: var(--light-blue);
    }

    .dropdown p {
        font-family: 'Public Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
    }
}   

/* Mobile styles */
@media (max-width: 768px) {
    .navbar {
        background-color: var(--gray-10);
        display: flex;
        align-items: center; 
        justify-content: space-between;
        height: 60px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .navbar .logo {
        width: 101.43px;
        height: 20px;
        color: var(--navy);
    }

    .hamburger {
        width: 24px;
        height: 24px;
        cursor: pointer;
        display: grid;
    }
    
    .hamburger .line {
        width: 100%;
        height: 3.5px;
        background-color: var(--navy);
        border-radius: var(--CornerExtra-small);
    }

    .dropdown {
        max-width: 200px;
        max-height: 120px;
        position: absolute;
        right: 0px;
        top: 60px;
        border-radius: var(--CornerExtra-small);
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;
        background-color: var(--gray-10);
        display: grid;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
    }

    .dropdown ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    .dropdown li {
        height: 37px;
        width: 100%;      
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .dropdown li a, .dropdown li span {
        font-family: 'Public Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        /* line-height: 14.8px; */
        text-align: end;
        text-decoration: none;
        display: block;
        color: var(--navy);
    }

    .dropdown li:active {
        background-color: var(--light-blue);
    }
}