
/* Desktop */
@media (min-width: 769px) {

    .info {
        /* width: 1200px; */
        min-height: 666px;
        position: relative;
        margin-top: 160px;
        margin-bottom: 160px;
        margin-left: 8.33%;
        margin-right: 8.33%;
        gap: 32px;
        display: flex;
        justify-content: space-between;
    }


    .info .box {
        max-width: 568px;
        border-radius: var(--CornerSmall);
        padding: 48px;
        background-color: var(--white);
        position: absolute;

        display: grid;
        gap: 48px;
    }
    
    .info .box1 {
        max-height: 524px;
        top: 0px;
        left: 0px;
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;
        z-index: 1;
    }
    
    .info .box2 {
        max-height: 545px;
        top: 65px;
        right: 0;
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;
        z-index: 2;
    }
    
    .info .box .group {
        width: 472px;
        display: grid;
        gap: 24px;
    }
    
    .info .group label {
        width: 154.91px;
        height: 26px;
        position: relative;
        top: 0px;
        left: 0px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 500;
        size: 18px;
        line-height: 25.2px;
        letter-spacing: 0.03em;
        text-align: left;
        color: var(--berry);
        margin: 0;
    }
    
    
    .info .group h2 {
        width: 472px;
        max-height: 162px;
        position: relative;
        top: 10px;
        left: 0px;
        font-family: 'Bricolage Grotesque'; 
        font-size: 48px;
        font-weight: 600;
        line-height: 52px;
        color: var(--navy);
        margin: 0;
    }
    
    
    .box p {
        width: 472px;
        max-height: 177px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 400;
        size: 18px;
        line-height: 25.2px;
        color: var(--black);
        margin: 0;
    }

    #link-learn-more, #link-contact {
        width: 137px;
        height: 26px;
        cursor: pointer;
        font-family: 'Public Sans', sans-serif;
        text-decoration: underline;
        font-weight: 600;
        size: 18px;
        line-height: 25.2px;
        color: var(--navy);
    }

}


/* Mobile */
@media (max-width: 768px) {

    .info {
        display: grid;
        gap: 24px;
        margin-left: 8.33%;
        margin-right: 8.33%;
        margin-top: 64px;
        margin-bottom: 64px;

    }

    .info .box {
        max-height: 513px;
        border-radius: var(--CornerSmall);
        padding: 32px;
        gap: 24px; 
        background-color: var(--white);
        display: grid;
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;
    }

    .info .box label {
        height: 20px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: 0.03em;
        text-align: left;
        color: var(--berry);
        padding-bottom: 2px;
    }

    .info .box h2 {
        max-width: 234px;
        font-family: 'Bricolage Grotesque';
        font-size: 24px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
        color: var(--navy);
        margin-bottom: 0;
    }

    .info .box p {
        font-family: 'Public Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;
        color: var(--black);
        margin: 0;
    }

    #link-learn-more, #link-contact {
        width: 101px;
        height: 23px;
        cursor: pointer;
        font-family: 'Public Sans', sans-serif;
        text-decoration: underline;
        font-weight: 600;
        size: 16px;
        line-height: 22.4px;
        color: var(--navy);
    }
}