.attorneys {
    background-color: var(--gray-10);
}

/* Desktop */
@media (min-width: 769px) {

    .attorneys .how {
        padding: 96px 120px 160px 120px;
    }

    .attorneys .how .intro {
        margin: auto;
        max-height: 363px;
    }

    .attorneys .how .intro p {
        font-size: 18px;
        line-height: 25.2px;
    }

    .attorneys .how .intro p br {
        font-size: 24px;
        line-height: 33.6px;
    } 

    .attorneys .how .intro p span {
        font-weight: 600;
    };


    .attorneys .info {
        min-height: 510px;
        margin-top: 0;
    }
}


/* Mobile */
@media (max-width: 768px) {
    .attorneys hr {
        width: 100%;
        border: 1px var(--blue) solid;
    }
}